.App {
  text-align: center;
}

.fade-enter {
  opacity: 0;
  transform: scale(0.9);
}
.fade-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 300ms, transform 300ms;
}
.fade-exit {
  opacity: 1;
}
.fade-exit-active {
  opacity: 0;
  transform: scale(0.9);
  transition: opacity 300ms, transform 300ms;
}


.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.btn-google{
  background-color: rgb(250,68,55);
}

.card-title{
  font-weight: 100;
}

.card{
  align-self: center;
  box-shadow: 0 4px 15px 0 rgba(0,0,0,0.2);
  position: relative;

}

.background{
  /* background-color:#e74c3c; */
  background-repeat: no-repeat;
  padding-top: 20px;
  background-image: url('./assets/janko.jpg');
  background-size:98% 100%;
  object-fit: contain;
}

/* .card:hover{
  box-shadow: 0 8px 25px 0 rgba(0,0,0,0.2);
} */

.card-img-top{
  border-style: dotted;
  height: 50%;
  width: 50%;
}

.card-body{
  text-align: center;
}

.card-signin{
  width: 85%;
  align-content: center;
  height: 40%;
}

.form-signin{
  text-align: left;
}

.form-header{
  margin-top: 20px;
  font-weight: 400;
}

.container{
  margin-right: 0px;
}

.container-signin{
  text-align: center;
  background-color: rgb(252, 240, 225);
  width: 30rem;
  height: 97.5vh; 
  padding-top: 100px;
}

.sign-in-image{
  height: 155px;
  width: 155px;
}

.img-size{
  height: 50px;
  width: 50px;
}

.font-size{
  font-size: 14px;
  font-weight: 500;
}

.navbar{
  background-color: rgb(24, 24, 24);
  color:rgb(218, 83, 42);

}
.navbar-padding{
  padding-left: 5px;
}

.nav-item{
  padding-right: 10px;
  color: black; 
  height: 100%;
}

.nav-link{
  color: black;
}

.members-list{
  color: blue;
  padding-left: 10px;
  font-size: large;
  font-weight: 100;
}

.bg-home{
  position: absolute;
  height: 100%;
  width: 100%;
  background-color:  rgb(218, 83, 42);
}

.discord-logo{
  height: 50%;
  width: 50%;
}

.discord{
  background-color: #7289da; 
  text-align: bottom;

}

.discord-label{
  font-weight: 200;
  text-align: center;
}

.currently-reading{
  word-wrap: normal;
  width: 100%;
  height:100%;

}
.book-img{
  width: 30%;
  height: 30%;
}
.book{
  text-align: center;
}
.col-members{
  padding-left: 10px;
}
.container-home{
  position: relative;
  top: 8%;
  left:0.25%;
}

.card-members{
  background-color: black;
}


.btn-signup{
  background-color: #007bff;
}

.pdf-viewer{
  position: relative;
  left: calc(50% - 300px);
  top: 100px;
  height: 900px;
  width: 700px;
  border: 2px solid black;
}


